/* 容器为栅格布局 */
.container {
    display: grid;
    box-shadow: 0px 10px 50px 10px lightgrey;
    /*简历周围阴影*/
    width: 900px;
    margin: 100px auto;
    /*background: red;*/

}

/* 简历上方线条 */
.topline {
    display: flex;
    flex-direction: row;
}

.top_left {
    background-color: #248CB1;
    height: 30px;
    width: 30px;
    /*transform: translate(-30px,0);  !*  向左偏移  *!*/
}

.top_left1 {
    background-color: #248CB1;
    height: 30px;
    width: 200px;
    /*transform: translate(-30px,0);  !*  向左偏移  *!*/
}

.top_right {
    background-color: black;
    height: 30px;
    width: 100%;
    /*transform: translate(-30px,0);*/
    margin-bottom: 20px;
}

.top_right p {
    transform: translate(0, -10px);
    color: whitesmoke;
    font-weight: bold;
    /*  粗体  */
}

/*   mid  */
.mid {
    margin-left: 30px;
}


/*照片*/
.ikun {
    display: flex;
    flex-direction: row;
    align-items: end;
}

.ikun_mid {
    margin-left: 50px;
    display: flex;
    flex-direction: column;

}

.ikun_mid span {
    font-size: 40px;
}

.ikun_right {
    display: flex;
    flex-direction: column;
    margin-left: 230px;
    align-items: flex-end;
}

.ikun_r1,
.ikun_r2,
.ikun_r3,
.ikun_r4 {
    display: flex;
    flex-direction: row;
    margin-bottom: -15px;
}

.normal {
    display: flex;
    flex-direction: row;
    font-weight: bold;
}
